<div class="body">

    <app-input class="inputSection"></app-input>

    <div class="repoInformationSection">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Owner</th>
                    <th scope="col">URL</th>
                    <th scope="col">Favorits</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repo of usersHaveForks; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>                
                        {{ repo.fullNameRepo }}
                    </td>
                    <td>{{repo.owner  }}</td>
                    <td>{{ repo.urlRepo  }}</td>
                    <td><ngb-rating [(rate)]='repo.favorit' (rateChange)='seveFavoritRepo(repo)'></ngb-rating></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ngb-pagination [collectionSize]="20" maxSize='10' [(page)]="page" pageSize ='1' (pageChange)="addPageinUrl()" aria-label="Default pagination"></ngb-pagination>
    </div>

</div>