<div class="body">

    <app-input class="inputSection"></app-input>

    <div class="repoInformationSection" *ngIf='isShowrepoInformationSection; else imageContent'>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Owner</th>
                    <th scope="col">URL</th>
                    <th scope="col">Favorits</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repo  of repoHaveForks; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        {{ repo.fullNameRepo }}
                    </td>
                    <td>{{repo.owner }}</td>
                    <td>{{ repo.urlRepo }}</td>
                    <td>
                        <ngb-rating [(rate)]='repo.favorit' (rateChange)='seveFavoritRepo(repo)'></ngb-rating>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #imageContent>
        <img src="https://thumbs.dreamstime.com/t/%D0%BA%D1%82%D0%BE-%D0%B7%D0%B0%D0%B1%D0%BE%D1%82%D0%B8%D1%82-%D1%81%D0%BC%D0%B0%D0%B9-%D0%B8%D0%BA-42424037.jpg"
            alt="smailik">
    </ng-template>
    <div *ngIf="isShowrepoInformationSection">
        <ngb-pagination [collectionSize]="20" maxSize='10' [(page)]="page" pageSize='1' (pageChange)="addParaminUrl()"
            aria-label="Default pagination"></ngb-pagination>
    </div>

</div>